# Development overrides
spring:
    jpa:
        show-sql: true
    flyway:
        clean-disabled: false

logging:
    level:
        com.planify: DEBUG
        org.springframework.security: DEBUG

management:
    endpoints:
        web:
            exposure:
                include: "*"
    endpoint:
        health:
            show-details: always

springdoc:
    swagger-ui:
        enabled: true
