# Production configuration
spring:
    jpa:
        show-sql: false
    flyway:
        clean-disabled: true

logging:
    level:
        root: WARN
        com.planify: INFO
        org.springframework.web: WARN
        org.springframework.security: WARN

management:
    endpoints:
        web:
            exposure:
                include: health,info,metrics,prometheus
    endpoint:
        health:
            show-details: when-authorized

springdoc:
    swagger-ui:
        enabled: false
    api-docs:
        enabled: false
