apiVersion: v1
kind: Secret
metadata:
    name: user-service-secrets
type: Opaque
stringData:
    # Database credentials
    DB_USERNAME: "planify"
    DB_PASSWORD: "planify123"

    # Keycloak admin credentials
    KEYCLOAK_ADMIN_USERNAME: "admin"
    KEYCLOAK_ADMIN_PASSWORD: "admin"
