replicaCount: 2

image:
  repository: ghcr.io/rso-project-2025-26/planify-user-service
  tag: main
  pullPolicy: Always

imagePullSecrets:
  - name: ghcr-secret

service:
  type: ClusterIP
  port: 8082
  targetPort: 8082

resources:
  requests:
    memory: "512Mi"
    cpu: "250m"
  limits:
    memory: "1Gi"
    cpu: "500m"

probes:
  liveness:
    path: /actuator/health/liveness
    initialDelaySeconds: 60
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
  readiness:
    path: /actuator/health/readiness
    initialDelaySeconds: 30
    periodSeconds: 5
    timeoutSeconds: 3
    failureThreshold: 3

config:
  springProfilesActive: "prod"
  serverPort: "8082"
  
  database:
    url: "jdbc:postgresql://postgres-service:5432/planify"
    username: "planify"
    schema: "auth"
    poolSize: "10"
    poolMinIdle: "5"
    connTimeout: "30000"
  
  jpa:
    ddlAuto: "validate"
    showSql: "false"
  
  keycloak:
    url: "http://keycloak-service:8080"
    realm: "planify"
    issuerUri: "http://keycloak-service:8080/realms/planify"
    jwkSetUri: "http://keycloak-service:8080/realms/planify/protocol/openid-connect/certs"
  
  kafka:
    bootstrapServers: "kafka-service:9092"
    consumerGroup: "user-service"
    autoOffsetReset: "earliest"
    topicJoinRequestSent: "user.join-request-sent"
    topicJoinRequestResponded: "user.join-request-responded"
    topicInvitationSent: "user.invitation-sent"
    topicInvitationResponded: "user.invitation-responded"
  
  flyway:
    enabled: "true"

  swagger:
    enabled: "false"
  
  management:
    endpointsInclude: "health,info,metrics,prometheus"
  
  logging:
    levelRoot: "WARN"
    levelApp: "INFO"
    levelSpringWeb: "WARN"
    levelSpringSecurity: "WARN"
    levelHibernateSql: "WARN"

secrets:
  postgresSecretName: postgres-secret
  postgresPasswordKey: POSTGRES_PASSWORD
  
  database:
    username: "planify"
    password: "planify123"
  keycloak:
    adminUsername: "admin"
    adminPassword: "admin"

ingress:
  enabled: true
  host: ""
  enableTls: false
  enableAuth: false
  htpasswd: "azure-function:$apr1$iDPWK2Ef$dNP9ntfOxR4KSZM.LDrsb."
  whitelist: "51.103.132.207,51.103.132.61,51.103.131.51,51.103.132.65,51.107.58.161"