apiVersion: v1
kind: Secret
metadata:
  name: user-service-secrets
type: Opaque
stringData:
  DB_USERNAME: {{ .Values.secrets.database.username | quote }}
  DB_PASSWORD: {{ .Values.secrets.database.password | quote }}
  KEYCLOAK_ADMIN_USERNAME: {{ .Values.secrets.keycloak.adminUsername | quote }}
  KEYCLOAK_ADMIN_PASSWORD: {{ .Values.secrets.keycloak.adminPassword | quote }}